@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blue;
  /* background-image: url("/wood.jpg"); */
  /* background-size: cover; */
  font-family: "BagelFatOne-Regular",serif;
  overflow-x: hidden;
}
#space {
  width: 100vw;
  height: 20vh;
  position: relative;
}
#container {
  position: absolute;
  width: 100vw;
  padding-bottom: 150px;
  top: 100vh;
  overflow-x: visible;
}
h1 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 50px;
  left: 50%;
  max-width: 800px;
  position: fixed;
  z-index: 99;
  bottom: 0;
  text-align: center;
  transform: translate(-50%, 0px);
  margin: 10px 0;
}
.paper {
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 800px;
  min-height: 600px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  transform-origin: center;
  padding: 25px;
  font-size: 20px;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  transition: transform 0.2s ease, background 0.2s ease;
}
.paper:hover {
  transform: translateX(-50%) scale(1.05);
}
.paper.released:hover {
  cursor: pointer;
  z-index: 99999999999;
}
.dateAndtitle {
  position: absolute;
  bottom: 0px;
  left: 52%;
  padding: 5px;
  width: 100%;
  font-size: 20px;
  transform: translateX(-50%);
  background-color: PaleTurquoise;
}
.releasedPaper {
  background-color: PaleTurquoise;
}
.unreleased {
  color: powderblue;
}
.unreleasedPaper {
  pointer-events: none;
  background-color: PaleTurquoise;
}
.unreleasedPaper .date-title {
  color: bisque;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: PaleTurquoise;
  padding: 20px;
  box-shadow: 0px 0px 7px SkyBlue;
  z-index: 100;
  width: 92vw;
  height: 92vh;
  line-height: 1.6;
  overflow: hidden;
  padding-bottom: 60px; /* 타이틀 공간 확보 */

}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.modal-content {
  height: 100%;
  overflow-y: auto;
  padding: 30px;
  padding-bottom: 100px; /* 타이틀 가려지지 않게 여유 */
  box-sizing: border-box;
}
.modal-footer {
  flex: 0 0 auto;
  padding: 10px 20px;
  background-color: PaleTurquoise;
  text-align: center;
}
#modal-title {
  font-size: 23px;
  font-weight: normal;
  position: fixed;
  

}
#modal-text{
  font-size: 19px !important;
}
#modal-date {
  padding-left: 0px;
}

.credit {
  bottom: 0;
  position: absolute;
  z-index: 9999;
}

@media only screen and (max-width: 1200px) {
  .paper {
    max-width: 700px;
    min-height: 600px;
  }
}

@media only screen and (max-width: 900px) {
  .paper {
    max-width: 500px;
    min-height: 600px;
  }
}

@media only screen and (max-width: 600px) {
  #container {
    top: 50vh;
  }
  .paper {
    max-width: 300px;
    min-height: 400px;
    height: 400px;
  }
  .modal {
    width: 85vw;
    height: 75vh;
  }
}
